<div class="container-fluid d" >

    <div class="row r">
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
        <div class="col-lg-10 col-md-1 col-sm-12 col-xs-12 h">
          <br>
          <h3>Student Management</h3>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row r1">
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 c">
            <a routerLink='/student-management'><button mdbBtn type="button" color="dark" class="waves-light btn" size="lg" mdbWavesEffect>Student Management</button></a>
            <br>
            <br>
            <a routerLink='/lecturer-management'><button mdbBtn type="button" color="dark" class="waves-light btn" size="lg" mdbWavesEffect>Lecturer Management</button></a>
            <br>
            <br>
            <a routerLink='/administrator-management'><button mdbBtn type="button" color="dark" class="waves-light btn" size="lg" mdbWavesEffect>Administrator Management</button></a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
    </div>

</div>