<div class="row">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark black scrolling-navbar ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#"><strong>Admin Panel</strong></a>
  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item waves-light" mdbWavesEffect></li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbWavesEffect>
            <a routerLink='' class="nav-link">Home</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Change Password</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a routerLink='/admin' class="nav-link">Log Out</a>
          </li>
      </ul>
  </links>
</mdb-navbar>
</div>
<br>
<br>
<br><br><br><br>
<div class="row r1" >
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
    <br>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 c1">
        <a routerLink='/user-management'><button mdbBtn type="button" color="dark"  class="waves-light btn1" size="lg" mdbWavesEffect>User Management</button></a>
        <br>
        <br>
        <a><button mdbBtn type="button" color="dark" class="waves-light btn1" size="lg" mdbWavesEffect>button2</button></a>
        <br>
        <br>
        <a><button mdbBtn type="button" color="dark" class="waves-light btn1" size="lg" mdbWavesEffect>button3</button></a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 "></div>
