<div class="container-fluid" >

  <div class="row b1" >
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 c1"></div>
        <img src="200px-Logo-SUSL.png" class="float-left" alt="uni-logo">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col1">
        <h2>  Sabaragamuwa University of Sri Lanka</h2>
        <h6>Belihuloya, Sri Lanka</h6>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
  </div>

  <div class="row b2"></div>
 
  <div class="row b3">
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
      <div class="col-lg-10 col-md-1 col-sm-12 col-xs-12 col2">
        <h2>Apply for your exam</h2>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
  </div>
 
  <div class="row b4">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col3">
      <a routerLink='/student'><button mdbBtn type="button" color="dark" class="waves-light btn1" size="lg" mdbWavesEffect>Student</button></a>
      <br>
      <br>
      <a routerLink='/lecturer'><button mdbBtn type="button" color="dark" class="waves-light btn2" size="lg" mdbWavesEffect>Lecturer</button></a>
      <br>
      <br>
      <a routerLink='/admin'><button mdbBtn type="button" color="dark" class="waves-light btn3"  size="lg" mdbWavesEffect>Admin</button></a>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
  </div>

  <div class="row b5"><br></div>

</div>
