<header class="h-100">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue" [containerInside]="true">
        <mdb-navbar-brand>
            <a class="logo navbar-brand" href="#"><strong>SEQ Digital group</strong></a>
        </mdb-navbar-brand>
        <links>
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item waves-light" mdbWavesEffect></li>
              </ul>
              <ul class="navbar-nav nav-flex-icons">
                  <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Home</a>
                  </li>
                  <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">About</a>
                  </li>
                  <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Service</a>
                  </li>
                  <li class="nav-item waves-light" mdbWavesEffect>
                      <a class="nav-link">Page</a>
                  </li>
                  <li class="nav-item waves-light" mdbWavesEffect>
                      <a class="nav-link">Blog</a>
                  </li>
                  <li class="nav-item waves-light" mdbWavesEffect>
                      <a class="nav-link">Contact</a>
                  </li>
                  <li class="nav-item waves-light" mdbWavesEffect>
                      <a class="nav-link">Free SEO Analysis</a>
                  </li>
                  
               </ul>
        </links>
    </mdb-navbar>
    <!-- Main -->
    <div class="view">
      <div class="full-bg-img">
          <div class="mask rgba-blue-strong flex-center">
              <div class="container">
                  
                      <div class="row">
                          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 c1">
                                <h1>Powerfull tools and Deep Analytics.</h1>
                                <h6>Website compete for attention and placement in the search engines</h6>
                                <button mdbBtn type="button" color="black-text"  class="waves-light h" mdbWavesEffect>Contact Us</button>
                          </div>
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 c2">
                              <h5 class="g">What's your score?</h5>
                              <h6>Test your website's SEO score for free </h6>
                              <div class="md-form">
                                  <input mdbInputDirective type="text" id="form1" class="form-control">
                                  <label for="form1" class="">Website Link</label>
                                </div>
                                <div class="md-form">
                                    <input mdbInputDirective type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Enter Address</label>
                                  </div>
                                  <button mdbBtn type="button" color="elegant" class="waves-light" mdbWavesEffect>Check Now</button>
                          </div>
                      </div>   
                  <!-- </div> -->
              </div>
          </div>
      </div>
  </div>
    <!-- /.Main -->
</header>
  <!--Main Layout-->
  <main class="text-center py-5 mt-3">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col col-lg-2">
                           Search Strategy
                        </div>
                        <div class="col-12 col-md-auto">
                            Link Building
                        </div>
                        <div class="col col-lg-2">
                           Email Marketing
                        </div>
                        <div class="col col-lg-2">
                           CPA Marketing
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p">
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d">
        <b><h2>Search Strategy</h2></b>
          <p>your topic and consider it from all angles. Try to be specific about what it is you want to discover about your topic. It helps to write it out in the form of a question. Ex: What is the best method to screen pregnant women for streptococcal infections </p>
          <p>words or phrases that might be used to describe the concepts of your topic. These should include synonyms, variations in spelling (US vs. UK), word endings (singular, plural), variant terminology (electrocardiograms, electrocardiography), and related terms (cataract extraction, intraocular lens implantation). Ex: pregnant/pregnancy – screening/testing – women/woman/female.</p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYiVPEYcHfqicCzYY2Mgm-O5US4UEIBR0ldymFrmLLKg7f6-5A" class="float-left" alt="pic">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 y">
           <h4>We Offers</h4>
          <b><h1 class="l">Affordable SEO Services</h1></b> 
          <br>
          <h5>your topic and consider it from all angles. Try to be specific about what it is you want to discover about your topic. It helps to write it out in the form of a question. Ex: What is the best method to screen preg</h5>
         </div>
       <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
    </div>

  </main>
  <!--Main Layout-->